.text-center{
    text-align: center;
}
.bg-red{
    background: red;

}

.max-auto{
    margin: auto;
}


.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.items-center{
    text-align: center;
}
.zero{
    width: 122px;
    border-radius: 30px;
}
.color{
    
    color: black;
    font-size: 10px;
}
/*.light-gray{
    background-color: rgb(201, 199, 199);
}*/